@import "bourbon";
@import "neat";
@import "_h5bp";

* { box-sizing: border-box; }
a:visited {
  color: none;
}

.menu-button img {
  height: 50px;
}

a.active {
  color: gray !important;
}


section {
  @include outer-container;
  aside { @include span-columns(3); }
  article { @include span-columns(9); }
}
