include _nav

mixin page(name, title)
  - CURRENT_PAGE = name
  doctype html
  html(lang='en')
    head
      //- base(href='http://example.com/index.html')
      meta(charset='utf-8')
      //--Use the latest IE
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      //--http://css-tricks.com/snippets/html/responsive-meta-tag/
      meta(name='viewport', content='width=device-width, initial-scale=1')
      //- meta(name='description', content='A front-end template that helps you build fast, modern mobile web apps.')

      if title
        title= title + ' - My Site'
      else
        title My Site

      //--Includes all the favicon meta data. Injected using gulpfile.js
      != FAVICON_META

      //--SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones
      //- link(rel='canonical', href='http://www.example.com/')

      //--Page styles
      link(rel='stylesheet', href='/styles/main.css')
    body
      +nav(name)
      block
      // build:js /scripts/main.min.js
      script(src='/scripts/main.js')
      script(src='/scripts/main-helper.js')
      // endbuild
      include _analytics
