include _nav

mixin page(name, title)
  doctype html
  html(lang='en')
    head

      if title
        title= title + ' - Web Starter Kit'
      else
        title Web Starter Kit

      include _meta

      //--Page styles
      link(rel='stylesheet', href='/styles/main.css')

    body
      +nav(name)
      block
      // build:js /scripts/main.min.js
      script(src='/scripts/main.js')
      script(src='/scripts/main-helper.js')
      // endbuild
      //- include _analytics
