include _/_page

+page('home', 'Home')
  main
    h1 Hello this is the home page.
    p Lorem ipsum Tempor pariatur amet reprehenderit consectetur commodo elit eu amet culpa.
  h2 Look at the colums!
  section
    aside What is it about?
    article Neat is an open source semantic grid framework built on top of Sass and Bourbon…
