include inc/_page
+page('home', 'Home')
  main
    h1#hello Hello!
    p Welcome to Web Starter Kit 3
    h2#get-started Get Started.
    p
      | Read how to&nbsp;
      a(href='https://developers.google.com/web/starter-kit') Get Started
      |  or check out the&nbsp;
      a(href='styleguide.html') Style Guide
      | .
