extends inc/_layout

block vars
  - TITLE = 'Home'
  - NAME = 'home'

block content
  main
    h1 Hello!
    p Lorem ipsum Tempor pariatur amet reprehenderit consectetur commodo elit eu amet culpa.
  section
    aside What is it about?
    article Neat is an open source semantic grid framework built on top of Sass and Bourbon…
